<ion-view hide-nav-bar="true">
  <ion-content >
    <div class="content-login padding">
      <div class="header padding">
        <h1>WüW</h1>
        <h4>Comparte con mujeres emprededoras</h4>
      </div>
      <div class="login">
        <div class="singin-label">
          <a class="button button-light">Regístrate</a>
        </div>
        <div class="login-list row">
          <div class="col">
            <a class="facebook" href="#/app/home">
              <i class="icon ion-social-facebook"></i>
            </a>
          </div>  
          <div class="col">
            <a class="googleplus" href="#/app/home">
              <i class="icon ion-social-googleplus"></i>
            </a>
          </div>  
          <div class="col">
            <a class="linkedin" href="#/app/home">
              <i class="icon ion-social-linkedin-outline"></i>
            </a>
        </div>  
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
