<ion-view view-title="Mi Emprendimiento">
  <ion-content>

    <div class="content-profile ">
      <div class="header"></div>
      <img class="avatar" src="../img/idea.png">
      <div class="profile">
      	<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Nombre del emprendimiento</span>
		    <input type="text" placeholder="Ingresa nombre del emprendimiento">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Página web</span>
		    <input type="text" placeholder="Url de tu emprendimiento">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="contact@myproyect.com">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Decripción</span>
		    <input type="text" placeholder="Describe tu emprendimiento">
		  </label>

		</div>
      </div>
    </div>
  </ion-content>
  	<a class="bar bar-footer bar-positive"  href="#/app/home">
	  <div class="title">Guardar</div>
	</a>
</ion-view>
