<ion-view view-title="Perfil">
  <ion-content>

    <div class="content-profile ">
      <div class="header"></div>
      <img class="avatar" src="../img/avatar.jpg">
      <div class="profile">
      	<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Nombre</span>
		    <input type="text" placeholder="Ingresa tu nombre">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Apellido paterno</span>
		    <input type="text" placeholder="Ingresa tu apellido paterno">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Apellido materno</span>
		    <input type="text" placeholder="Ingresa tu apellido materno">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="yo@mail.com">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Fecha de nacimiento</span>
		    <input type="date" placeholder="1/01/1980">
		  </label>

		</div>
      </div>
    </div>
  </ion-content>
  	<a class="bar bar-footer bar-positive"  href="#/app/home">
	  <div class="title">Guardar</div>
	</a>
</ion-view>
